body {
  background: #fff;
  color: #666666;
  font-family: 'BebasNeueRegular'; 
}
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-family: 'BebasNeueRegular';
  letter-spacing: 0.em;
  font-weight: 400;
  font-style: normal;
  font-size: 91px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}


